.content img{
    width: 150px;
    height: 150px;
}
.search-bar{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.city-image{
    margin: auto 15%;
}

.city-image img{
    padding: 4%;
    border-radius: 25%;
}
